<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>
</head>
<body>
	<h1>Add a new course:</h1>
	<form action="/create" method='POST'>
		{% csrf_token %}
		<p>Name:</p><input type="text" name="name">
		<p>Description:</p><input type="text" name="desc">
		<br>
		<input type="submit" name="add" value="Add">
	</form>
	<table>
		<tr>
			<th>Course Name</th>
			<th>Description</th>
			<th>Date Added</th>
			<th>Actions</th>
		</tr>
		<tr>
			{% for course in courses %}
			<p>{{course.id}}</p>
			<td>{{course.name}}</td>
			<td>{{course.desc}}</td>
			<td>{{course.created_at}}</td>
			<td><a href="/courses/{{course.id}}/destroy">Remove</td>
		</tr>
		{% endfor %}
	</table>

</body>
</html>